div {
    height: 550px;
    width: 50%;
    background-color: black;
    margin-left: 25%;
    
}

img {
    height: auto;
    width: 70%;
    margin-left: 15%;
    margin-top: 40px;
    border: 5px solid #fff;
    border-radius: 5px;
    
}

h1 {
    text-align: center;
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    font-size: 2rem;
}

p{
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
}